* {
    font-family: Tahoma;
    direction: rtl;
}

input {
    text-align: center;
}

a {
    color: inherit;
}

td, th, tr {
    padding: 7px 10px;
}

body {
    background-image: url("swirl_pattern.png");
}

#logo {
    width: 560px;
}

#main > div {
    display: inline-block;
}

#Game {
    width: 80%;
}

.menu_button {
    display: block;
    float: right;
    padding: 45px;
    margin: 20px;
    width: 90px;
    height: 90px;
    background-color: #D1D1D1;
    cursor: pointer;
    font-size: larger;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0px 0px 0px 1px White, 0px 0px 0px 2px Black;
}

    .menu_button > img {
        margin: 10px;
    }

#backButton {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: rgb(92, 201, 195);
}

#timer {
    font-size: 45px;
}

    #timer sup {
        font-size: 25px;
    }

#timerButton, #restartButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgb(244, 224, 152);
}

.question {
    display: inline-block;
    padding: 20px;
    margin: 20px;
    font-size: larger;
}

    .question input {
        font-size: inherit;
    }

.current {
    font-size: x-large;
}

.lavalamp-object {
    background-color: #ccc;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    overflow: visible !important;
}

#help {
    width: 60%;
    white-space: inherit;
}

.medal {
    width: 17px;
    float: left;
}
