* {
    font-family: Tahoma;
    direction: rtl;
}

input {
    text-align: center;
}

a {
    color: inherit;
}

td, th, tr {
    padding: 7px 10px;
}

#logo {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 30px 0px 30px 0px;
    box-shadow: 2px 3px 6px 0.1px Black;
}

#main > div {
    display: inline-block;
}

.menu_button {
    display: block;
    float: right;
    padding: 45px;
    margin: 20px;
    width: 90px;
    height: 90px;
    background-color: #D1D1D1;
    cursor: pointer;
    font-size: larger;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0px 0px 0px 1px White, 0px 0px 0px 2px Black;
}

    .menu_button > img {
        margin: 10px;
    }

#backButton {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

#timer {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 60px;
}

.question {
    display: inline-block;
    padding: 20px;
    margin: 20px;
    font-size: larger;
}

    .question input {
        font-size: inherit;
    }

.current {
    font-size: x-large;
}

.lavalamp-object {
    background-color: #ccc;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
