* {
    margin: 0;
    padding: 0;
    direction: rtl;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 100%;
    color: #666;
    background-color: #fff;
    background-image: url("p5_pattern.png");
}

a {
    text-decoration: none;
}

/*h3 {
    font-size: x-large;
}*/

td {
    padding: 0px 16px;
}

tr td:first-child {
    padding-right: 4px;
}
tr td:last-child {
    padding-left: 4px;
}

#rightColumn {
    text-align: right;
    float: right;
    margin-right: -15px;
    margin-top: 15%;
    width: 200px;
}

#slidingNavigation li {
    margin-bottom: 5px;
    list-style: none;
    list-style-type: none;
}

    #slidingNavigation li:first-of-type * {
        padding: 5px 40px 5px 30px;
        color: #fff;
        background-color: #333;
        font-weight: normal;
        margin-bottom: 2px;
        font-size: 1.17em;
    }

    #slidingNavigation li * {
        display: inline-block;
        width: 150px;
        padding: 3px 30px 3px 20px;
        color: GrayText;
        text-decoration: none;
        background-color: #222;
        border: 1px solid #1a1a1a;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }

    #slidingNavigation li a:hover {
        color: Orange;
        font-style: italic;
    }

#recentActivities {
    text-align: right;
    margin-left: -15px;
    margin-top: 15px;
    
    width: 250px;
    padding: 3px 30px 3px 20px;
    color: black;
    text-decoration: none;
    background-color: #F0F0F0;
    border: 1px solid #B8B8B8;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#recentActivities > div{
    min-height: 50px;
    max-height:500px;
    overflow-y: scroll;
}

#recentActivitiesFather{
    display: inline-block;
    float: left;
    overflow: hidden;
}

.news {

    border: 0px solid #B8B8B8;
    padding: 3px 30px 3px 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

}

.news:hover {
    background-color:#D4D4D4;
}

#main_search {
    display: inline-block;
    margin: 0 auto;
    margin-top: 10%;
}

#logo {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 30px 0px 30px 0px;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

.popupContent {
    display: none;
}

#popupContentHolder {
    z-index: 10;
    position: fixed;
    background-color: White;
    padding: 20px;
    top: 120px;
    min-width: 300px;
    display: none;
    -webkit-border-radius: 75px 0px;
    -moz-border-radius: 75px 0px;
    border-radius: 75px 0px;
    -moz-box-shadow: 0px 0px 15px 15px White;
    -webkit-box-shadow: 0px 0px 15px 15px White;
    box-shadow: 0px 0px 15px 15px White;
}

#blackblock {
    display: none;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: Black;
    opacity: .8;
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    filter: alpha(opacity=80);
}

#small_x {
    position: absolute;
    right: -30px;
    top: -30px;
    cursor: pointer;
}

/**** Stars magic ****/
fieldset,
input[type="radio"] + label {
    margin: 0;
    padding: 0;
}

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 120px;
}

.rating > input {
    display: none;
}

.rating > label:before {
    margin: 2.5px;
    font-size: 1.25em;
    font-family: arial;
    display: inline-block;
    font-weight: bolder;
    content: "★";
}

.rating > label {
    color: #ddd;
    -webkit-text-stroke: 1px #ddd;
    float: right;
    cursor: pointer;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label {
    color: #FFD700;
    -webkit-text-stroke: 1px #FFD700;
}

.rating > label:hover ~ label,
.rating > label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > input:checked ~ label:hover {
    color: #FF8000;
    -webkit-text-stroke: 1px #FF8000;
}

.error {
    font-size: 0.75em;
    font-family: arial;
    color: red;
    display: none;
}

.infoIcon {
    width: 24px;
    height: 24px;
    margin: 0px 2px;
}

#magnif {
    font-size: 40px;
    cursor: pointer;
    position: fixed;
    padding: 5px;
    bottom: -5px;
    right: -5px;
    -webkit-border-radius: 20px 0px 0px 0px;
    -moz-border-radius: 20px 0px 0px 0px;
    border-radius: 20px 0px 0px 0px;
    border: 1px;
    background-color: #F0F0F0;
    box-shadow: inset 0px 0px 5px 0.1px White, 0px 0px 5px 0.1px Black;
}