* {
    direction: rtl;
    font-family: arial;
}

body {
    background-image: url("/graphics/images/forum/white_brick_wall.png");
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.qtext {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
    box-shadow:0px 0px 0px 2px gray;
    border-radius:3px;
    width: 95%;
    padding: 10px;
    background-color: white;
    font-size: 1.3em;
}

#logo {
    width: 560px;
}

div {
    text-indent:inherit;
}

h4 {
    color: #292929;
    font-family: arial;
    font-weight: normal;
    font-size: 20px;
    line-height:1;
}

Blocks-Input {
    margin: 0px 0px -10px 0;
}

.inlined {
    display: inline;
    margin-right: 5px;
}

.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}

.accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    background:#f7f7f7;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:15px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
    background:#9197a3  ;
    transition:all linear 0.15s;
    /* Type */
    font-size:25px;
    text-shadow:0px 1px 0px #1a1a1a;
    color:#fff;
    text-decoration: none;
}

.accordion-section-title.active, .accordion-section-title:hover {
    /* Type */
    text-decoration: none;
}

.accordion-section:nth-child(3n+0) > .accordion-section-title:hover, .accordion-section:nth-child(3n+0) > .accordion-section-title.active {
    background: rgb(252,207,65);
}

.accordion-section:nth-child(3n+1) > .accordion-section-title:hover, .accordion-section:nth-child(3n+1) > .accordion-section-title.active {
    background: rgb(55,184,155);
}

.accordion-section:nth-child(3n+2) > .accordion-section-title:hover, .accordion-section:nth-child(3n+2) > .accordion-section-title.active {
    background: rgb(255,152,44);
}

.accordion-section:last-child .accordion-section-title {
    border-bottom: none;
}

/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:none;
}

ul {
    list-style: none;
    padding:0;
    margin:0;
}

li { 
    padding-right: 1em;
    text-indent: -.7em;
    margin: 1em 0em 1em 0em;
}

li:nth-child(6n+0):before {
    content: "• ";
    color: rgb(255, 33,35);
}

li:nth-child(6n+1):before {
    content: "• ";
    color: rgb(253, 165, 29);
}

li:nth-child(6n+2):before {
    content: "• ";
    color: rgb(219, 217, 34);
}

li:nth-child(6n+3):before {
    content: "• ";
    color: rgb(72, 182, 51);
}

li:nth-child(6n+4):before {
    content: "• ";
    color: rgb(76, 31, 244);
}

li:nth-child(6n+5):before {
    content: "• ";
    color: rgb(167, 71, 204);
}

.response {
    width: 75%;
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
    box-shadow:0px 0px 0px 1px rgba(0,0,0,0.25);
    border-radius:3px;

}

#back {
    width: 200px;
    margin-top: 50px;
    display: inline;
}