* {
    margin: 0;
    padding: 0;
    direction: rtl;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 100%;
    color: #666;
    background-color: #fff;
    background-image: url("/graphics/images/backgrounds/1.png");
}

a {
    text-decoration: none;
}

td {
    padding: 0px 16px;
}

tr td:first-child {
    padding-right: 4px;
}

tr td:last-child {
    padding-left: 4px;
}

#rightColumn {
    text-align: right;
    float: right;
    margin-right: -15px;
    margin-top: 40vh;
    width: 200px;
}

#slidingNavigation li {
    margin-bottom: 5px;
    list-style: none;
    list-style-type: none;
}

    #slidingNavigation li:first-of-type * {
        padding: 5px 40px 5px 30px;
        color: rgb(202,202,202);
        background-color: rgb(120,120,120);
        font-weight: normal;
        margin-bottom: 2px;
        font-size: 1.17em;
    }

    #slidingNavigation li * {
        display: inline-block;
        width: 150px;
        padding: 3px 30px 3px 20px;
        color: rgb(0,0,0);
        text-decoration: none;
        border: 1px solid #1a1a1a;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }

    #slidingNavigation li:nth-child(3n+0) * {
        background-color: rgb(252,207,65);
    }

    #slidingNavigation li:not(first-of-type) * {
        background-color: rgb(55,184,155);
    }

    #slidingNavigation li:nth-child(3n+2) * {
        background-color: rgb(255,152,44);
    }

    #slidingNavigation li a:hover {
        background-color: rgb(249,59,151);
        font-style: italic;
    }

#recentActivities {
    text-align: right;
    margin-left: -15px;
    margin-top: 15px;
    width: 250px;
    padding: 3px 30px 3px 20px;
    color: black;
    text-decoration: none;
    background-color: #F0F0F0;
    border: 1px solid #B8B8B8;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

    #recentActivities > div {
        min-height: 50px;
        max-height: 500px;
        overflow-y: scroll;
    }

#recentActivitiesFather {
    display: inline-block;
    float: left;
    overflow: hidden;
}

.news {
    border: 0px solid #B8B8B8;
    padding: 3px 30px 3px 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

    .news:hover {
        background-color: #D4D4D4;
    }

    .news:nth-child(6n+2) > h3 {
        color: rgb(252,207,65);
    }

    .news:nth-child(6n+4) > h3 {
        color: rgb(55,184,155);
    }

    .news:nth-child(6n+0) > h3 {
        color: rgb(255,152,44);
    }

    .news:hover > h3 {
        color: rgb(249,59,151);
    }

.index_boxes {
    text-align: center;
    padding: 10px;
    border: 0px;
    box-shadow: inset 0px 0px 0px 1px Black;
}

    .index_boxes:hover {
        box-shadow: 0px 0px 1px 1px Black;
    }

.error_index_boxes {
    box-shadow: 0px 0px 1px 1px red;
}

#main_search {
    display: inline-block;
    margin: 0 auto;
    margin-top: 10%;
}

#logo {
    width: 560px;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

/**** Stars magic ****/
fieldset,
input[type="radio"] + label {
    margin: 0;
    padding: 0;
}

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 120px;
}

    .rating > input {
        display: none;
    }

    .rating > label:before {
        margin: 2.5px;
        font-size: 1.25em;
        font-family: arial;
        display: inline-block;
        font-weight: bolder;
        content: "★";
    }

    .rating > label {
        color: #ddd;
        -webkit-text-stroke: 1px #ddd;
        float: right;
        cursor: pointer;
    }

    /***** CSS Magic to Highlight Stars on Hover *****/

    .rating > input:checked ~ label {
        color: #FFD700;
        -webkit-text-stroke: 1px #FFD700;
    }

        .rating > label:hover ~ label,
        .rating > label:hover,
        .rating > input:checked ~ label:hover ~ label,
        .rating > input:checked ~ label:hover {
            color: #FF8000;
            -webkit-text-stroke: 1px #FF8000;
        }

.infoIcon {
    width: 24px;
    height: 24px;
    margin: 0px 2px;
}

#magnif {
    font-size: 40px;
    cursor: pointer;
    position: fixed;
    padding: 5px;
    bottom: -5px;
    right: -5px;
}

/*used for start animation:*/
#slidingNavigation li, #main_search form > *, .news {
    visibility: hidden;
}

#mail_body {
    font-family: Arial;
    text-align: right;
    font-size: 16px;
    resize: vertical;
}
