* {
    font-family: Tahoma;
    direction: rtl;
}

input {
    text-align: center;
}

a {
    color: inherit;
}

td, th, tr {
    padding: 7px 10px;
}

body {
    background-image: url("/graphics/images/backgrounds/swirl_pattern.png");
}

#logo {
    width: 560px;
}

#main > div {
    display: inline-block;
}

#Game {
    width: 80%;
}

#backButton {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: rgb(55,184,155);
}

#timer {
    font-size: 45px;
}

    #timer sup {
        font-size: 25px;
    }

#timerButton, #restartButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgb(252,207,65);
}

.question {
    display: inline-block;
    padding: 20px;
    margin: 20px;
    font-size: larger;
}

    .question input {
        font-size: inherit;
    }

.current {
    font-size: x-large;
}

.lavalamp-object {
    background-color: #ccc;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    overflow: visible !important;
}

#help {
    width: 60%;
    white-space: inherit;
}

.medal {
    width: 17px;
    float: left;
}

.menu_button {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
