<!DOCTYPE html>
<html>
<head>
    <title>תשבצל'ה</title>
    <link rel="stylesheet" type="text/css" href="graphics/GlobalStyle.css">
    <link rel="stylesheet" type="text/css" href="graphics/css/ForumsStyle.css">
    <link rel="stylesheet" type="text/css" href="graphics/BlocksInputStyle.css">
    <link rel="stylesheet" type="text/css" href="graphics/css/PopupsStyle.css">
    <script type="text/javascript" src="graphics/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="graphics/jQuery-easing.js"></script>
    <script type="text/javascript" src="graphics/accordion.js"></script>
    <script type="text/javascript" src="graphics/javascript/Popups.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/document-register-element/0.3.0/document-register-element.js"></script>
    <script type="text/javascript" src="graphics/BlocksInput.js"></script>
    <script type="text/javascript" src="graphics/javascript/Forums.js"></script>
</head>
<body>
    <center>
        <img src="graphics/images/forum/forum_logo.png" alt="הפורום של תשבצל'ה" id="logo">
        <br />
    </center>
        {% if feed %}
        <div class="accordion">
            {% for i,(name,question,pattern,description,comments,questionID) in enumerate(feed) %}
            <div class="accordion-section">
                <a class="accordion-section-title" href="#accordion-{{ i }}">המשתמש <i>{{ name }}</i> שאל: {{ question }}, <Blocks-Input value="{{ pattern }}" fixed="true" disabled style="color:rgb(249,59,151)"></Blocks-Input></a>
                <div id="accordion-{{ i }}" class="accordion-section-content" style="display: none;">
                    <div class="qtext">{{ description }}</div>
                    {% if comments %}
                    <ul>
                        {% for name,answer,description in comments %}
                        <li>
                            המשתמש <i>{{ name }}</i> הציע את התשובה: <b>{{ answer }}</b><br />
                            {{ description }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <br />
                    <img src="graphics/images/forum/add_comment.png" style="
                    text-align: right;
                    display: inline;" onclick="$(this).next().next().toggle(200)">
                    <br />
                    <form action="addComment.html" class="nice" style="display:none;">
                        <input type="hidden" name="questionID" value="{{ questionID }}" />
                        <table>
                          <tbody><tr style="height:35px">
                            <td>
                              מאת:
                            </td>
                            <td>
                                <input type="text" class="add_q_boxes" name="name" style="width:100%"/>     
                            </td>
                            </tr>
                            <tr style="height:35px">
                            <td>
                              תשובה:
                            </td>
                            <td>
                                <Blocks-Input name="answer" value="{{ pattern }}" fixed="true"></Blocks-Input>
                            </td>
                          </tr>
                          <tr style="height:70px">
                            <td>
                                תיאור:
                            </td>
                            <td>
                                <textarea name="description" class="add_q_boxes" style="width:200px">
                                </textarea>
                            </td>
                          </tr>
                        </tbody></table>
                        <input type="submit" value="הוסף!" class="add_q_boxes"/>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        הפורום ריק, הוסף שאלה והיה הראשון!
        {% endif %}
    <div id="add_question" class="popupContent">
        <div style="line-height:2; width:450px">
            <h3> הוספת שאלה </h3>
            <form action="addQuestion.html" id="add_que_form">
                <table style="width:100%">
                  <tbody><tr width="50%">
                    <td style="width:15%">מאת:</td>
                    <td><input type="text" class="add_q_boxes" name="name">
                    </td>
                    <td style="width:15%"></td>
                </tr>
                  <tr>
                    <td>
                      הגדרה:
                    </td>
                    <td><input type="text" class="add_q_boxes" name="definition">
                    </td>
                  </tr>
                  <tr>
                    <td>תבנית:</td>
                    <td><blocks-input name="pattern" value="????"></blocks-input></td>
                  </tr>
                </tbody></table>
                תיאור:</br>
                <textarea name="description" class="add_q_boxes" style="width:60%; height:70px; overflow:auto;">
                </textarea></br>
                <input type="submit" class="add_q_boxes" value="הוסף!" />
            </form>
        </div>
    </div>
         <a href="/">
            <div class="menu_button bot_left">
            חזרה לתשבצל'ה
               <br/>
               <img src="graphics/images/icons/back.jpg" height="60">
            </div>
        </a>
        <a href="#add_question" class="popup">
            <div class="menu_button bot_right">
                הוסף שאלה
               <br/>
               <img src="graphics/images/icons/new_post.png" height="60">
            </div>
        </a>
    <div id="currentPopup"></div>
</body>
</html>