<!DOCTYPE html>
<html>
<head>
    <title>תשבצל'ה</title>
    <link rel="stylesheet" type="text/css" href="graphics/css/GlobalStyle.css">
    <link rel="stylesheet" type="text/css" href="graphics/css/HelpStyle.css">
    <script type="text/javascript" src="graphics/javascript/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="graphics/javascript/jQuery-easing.js"></script>
    <script type="text/javascript" src="graphics/javascript/accordion.js"></script>
</head>
<body>
    <center>
        <img src="graphics/images/logos/help_logo.png" width="560px">
    </center>
    <br/ >
    <div class="accordion">
        <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-1">פתרון הגדרות</a>
            <div id="accordion-1" class="accordion-section-content" style="display: none;">
                <p>
                    על מנת לקבל עזרה בפתרון הגדרה בתשבץ יש להקליד במלבנים הבאים את ההגדרה ואת התבנית שלה:
                    <br />
                    <img src="graphics/images/help/front_page.bmp" width="300" style="width: 300px;">
                    <br />

                    <u><h4>בניית התבנית:</u></h4>
                <p>
                    יש להכניס את התבנית המתאימה להגדרה בתשבץ. אורכה כאורך הפתרון וכל אות ידועה מהפתרון - יש לציין (כך יגדלו הסיכויים שנוכל למצוא את הפתרון עבורך), ואת יתר המקומות יש להשאיר ריקים או למלא בסימני שאלה.
                    <br />
                    ניתן להשתמש בחצים על מנת לזוז בין ריבועי התבנית. בנוסף, ניתן להשתמש בכפתורי ה"פלוס" וה"מינוס" (או בכפתורי למעלה ולמטה במקלדת) בשביל להגדיל או להקטין את מספר האותיות.
                    <u><h4>דוגמאות להגדרות ותבניות חוקיות:</u></h4>
                    <center>
                        <img src="graphics/images/help/valid_input1.bmp" width="200px" class="inlined">
                        <img src="graphics/images/help/valid_input2.bmp" width="200px" class="inlined">
                        <img src="graphics/images/help/valid_input3.bmp" width="200px" class="inlined">
                        <br />
                        פתרון נכון עבור <i>אבי הנצרות</i> בשלוש אותיות הוא <i>ישו</i><br />
                        פתרון נכון עבור <i>אדון</i> בשתי אותיות הוא <i>מר </i>
                    </center>
                </p>
            </div>
        </div>
        <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-2">התוצאות</a>
            <div id="accordion-2" class="accordion-section-content" style="display: none;">
                <p>
                    <br />
                    אחרי חיפוש הגדרה ותבנית באמצעות תשבצל'ה יופיעו התוצאות:<br />
                    <img src="graphics/images/help/results-help.bmp" width="486"> <br /><br />
                    <u>
                        <h4>הדירוג
                    </u></h4>לכל הגדרה יש דירוג מ-1 עד 5, גם המשתמש יכול לדרג באמצעות לחיצה על הכוכב המתאים<br /><br />
                    <u>
                        <h4>מקור
                    </u>
                    </h4>המקור של פתרון הוא שם האדם שהזין את הפתרון או תשבצל'ה במקרה שההגדרה היא שלנו<br /><br />
                    <u>
                        <h4>מידע נוסף
                    </u>
                    </h4>לקבלת מידע נוסף על פתרון ההגדרה יכול המשתמש ללחוץ על הכפתורים בעמודה זו והם יובילו אותו לחיפוש בגוגל או לאתר ויקיפדיה<br /><br />
                    <u>
                        <h4>כפתור "יודע את התשובה ורוצה לעזור"?
                    </u>
                    </h4>
                    <br />אם המשתמש יודע פתרון נוסף להגדרה שאינו מופיע בתוצאות החיפוש, אז הוא יכול ללחוץ על כפתור זה ולעבור לחלון שמאפשר לו להוסיף את הפתרון הנכון. בכך הוא מעשיר את המאגר שלנו ותורם לקהילת המשתמשים.

                    <u>
                        <h4>כפתור "רוצה לשאול חברים בפורום"</h4>
                    </u>
                    <br>אם משתמש עדיין לא יודע מה הפתרון, הוא יכול להשתמש בפורום של תשבצל'ה כדי לקבל עזרה ממשתמשים אחרים.
                    <br />
                    לאחר לחיצה על הפתור, המשתמש מועבר לפורום ונפתח עבורו חלון להוספת שאלה אותו הוא יכול למלא.
                </p>
            </div>
        </div>
        <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-3">הוספת הגדרות</a>
            <div id="accordion-3" class="accordion-section-content" style="display: none;">
                <p>
                    ניתן להוסיף הגדרות למאגר שלנו בשתי דרכים. הראשונה, דרך לחיצה על הכפתור הייעודי לכך שנמצא בעמוד הראשי. השנייה, באמצעות הפתור המתאים שמופיע לאחר חיפוש תוצאה במאגר שלנו. הסבר מפורט יותר על כך הופיע קודם תחת "פתרון הגדרות".<br />
                    בשני המקרים נפתח חלון אותו יש למלא.
                    <br />
                    <img src="graphics/images/help/definition_adding.bmp" width="300" style="width: 300px;">
                </p>
            </div>
        </div>
        <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-4"> משחקונים	</a>
            <div id="accordion-4" class="accordion-section-content" style="display: none;">
                <p>
                    <u>
                        <h3>מטרת המשחק
                    </u></h3>
                    לצבור כמה שיותר נקודות באמצעות פתרון כמה שיותר הגדרות תשחצים תוך דקה.<br /><br /><br />
                    <u>
                        <h3>אופן המשחק
                    </u>
                    </h3>
                    <br />לאחר טעינת המשחק תופיע הגדרה ראשונה לפתרון על ידי השחקן, לדוגמא:
                    <img src="graphics/images/help/minigames-empty_definition.bmp" width="300" style="width: 150px;">
                    <br />
                    כדי לענות על ההגדרה, עליו להקליד את הפתרון הנכון וללחוץ ENTER.<br />
                    אם הוא יענה נכונה ההגדרה תסומן בצבע ירוק ואם יטענה, תסומן באדום:<br />
                    <center>
                        <img src="graphics/images/help/minigames-definition_solved_right.bmp" width="300" style="width: 150px;" class="inlined">
                        <img src="graphics/images/help/minigames-definition_solved_wrong.bmp" width="300" style="width: 150px;" class="inlined">
                    </center>
                    <br />
                    אם השחקן לא יודע את ההגדרה ומעוניין ברמז, הוא יכול ללחוץ על הנורה:
                    <img src="graphics/images/help/minigames-lamp.bmp" width="300" style="width: 50px; height:50px;" class="inlined">

                    <u>
                        <h3>הניקוד
                    </u>
                    </h3>הניקוד הסופי הוא סכום הניקוד שניתן לכל פתרון נכון – פתרונות שגויים לא מקבלים או גורעים ניקוד. <br />
                    זאת כאשר הניקוד הניתן לכל הגדרה מייצג את דרגת הקושי תוך התחשבות ברמזים שניתנו.<br />
                    בסוף המשחק יוצג בפני השחקן סיכום של תוצאות המשחק ותוצע לו האפשרות לרשום את עצמו ב"טבלת המנצחים".
                    <br /><br />
                    <img src="graphics/images/help/minigames-results.bmp" width="500" style="width: 500px;">
                    <br /><br />
                    <u>
                        <h4>ניווט
                    </u>
                    </h4>השחקן יכול לנווט בין ההגדרות אותן ניסה לפתור בעבר ולתקנן וכך לזכות בנקודות של אותן ההגדרות.<br />הניווט מתבצע באמצעות לחיצת עכבר או לחלופין שימוש במקשי החצים שמקבלדת: למעלה ולמטה.
                </p>
            </div>
        </div>
        <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-5">הגדלת/הקטנת התצוגה</a>
            <div id="accordion-5" class="accordion-section-content" style="display: none;">
                <p>
                    בעמוד הראשי של תשבצל'ה ישנה  אפשרות להגדיל ולהקטין את התצוגה.
                    <br />
                    ניתן לעשות זאת באמצעות לחיצה על הכפתור:
                    <img src="graphics/images/help/enlarging_closed.bmp" class="inlined" width="300" style="width: 20px; height: 20px;">
                    שנמצא בתחתית הימנית במסך.
                    <br />
                    הכפתור נפתח להיות
                    <img src="graphics/images/help/enlarging.bmp" class="inlined" width="300" style="width: 100px; height: 30px;">
                    או
                    <img src="graphics/images/help/enlarging_reducing.bmp" class="inlined" width="300" style="width: 100px; height: 30px;">
                    בהתאם.
                </p>

            </div>
        </div>
        <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-6">פאנל "מה חדש?"</a>
            <div id="accordion-6" class="accordion-section-content" style="display: none;">
                <p>
                    <br />
                    בעמוד הראשי, תחת הכותרת "מה חדש?" ישנה רשימה מתעדכנת של פעילויות אחרונות שקרו באתר. בין היתר פעילויות של:
                    <ul>
                        <li><i>נוסף פתרון</i> - משתמש הוסיף פתרון להגדרה כלשהי באתר. ניתן ללחוץ ולראות את הפתרון שהוסיף.</li>
                        <li><i>שיא חדש</i> - משתמש שיחק במשחק של תשבצל'ה וזכה בשיא שנכנס לטבלת השיאים.</li>
                        <li><i>שאלה חדשה בפורום</i> - משתמש הוסיף שאלה חדשה בפורום.</li>
                    </ul>
                    <br />
                    לחיצה על הגדרה מובילה לחיפושה במנגון החיפוש של תשבצל'ה.

                </p>
            </div>
        </div>
        <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-7">הפורום</a>
            <div id="accordion-7" class="accordion-section-content" style="display: none;">
                <p>
                    בתשבצל'ה יש פורום שמטרתות לאפשר למשתמשים לעזור אחד לשני בפתרון הגדרות ולדון בפתרונותיהם.
                    <h3><u> הוספת שאלה </h3></u>
                    ניתן להוסיף שאלה לפורום בשתי דרכים: דרך כפתור "רוצה לשאול חברים בפורום?" שבעמוד תוצאות החיפוש או דרך הפורום עצמו והפתור הרלוונטי בתחתית המסך: "הוסף שאלה".
                    <br />
                    בעת הוספת שאלה נפתח החלון הבא אותו יש למלא:
                    <img src="graphics/images/help/forum_add_a_question.bmp" width="300" style="width: 300px;">
                    <br />
                    <h3><u> תגובה על שאלה קיימת </h3></u>
                    כדי להגיב על שאלה קיימת יש ללחוץ עליה, אז ייפתח חלון, ובו התגובות הקיימות וכן תיאור נוסף שהכניס שואל השאלה.
                    <br />
                    לאחר מכן, יש ללחוץ על הכפתור "הוסף תגובה" ולמלא את
                    תמונה של הוספת תגובה, הפורום שיש למלא הטופס הבא:
                    <br />
                    <img src="graphics/images/help/forum_add_a_comment.bmp" width="300" style="width: 300px;">
                </p>
            </div>
        </div>
        <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-8">יצירת קשר</a>
            <div id="accordion-8" class="accordion-section-content" style="display: none;">
                <p>
                    ניתן ליצור קשר עם בעלי האתר באמצעות לחיצה על הכפתור הייעודי לכך שנמצא בעמוד הראשי. לאחר הלחיצה ייפתח חלון אותו יש למלא:
                    <br\>
                        <img src="graphics/images/help/contact_us.bmp" width="300" style="width: 300px;">

                </p>
            </div>
        </div>
        <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-9">סימני השאלה</a>
            <div id="accordion-9" class="accordion-section-content" style="display: none;">
                <p>
                    במקומות רבים באתר מפוזרים סימני שאלה הנראים כך:
                    <img src="graphics/images/buttons/question_mark.png" class="inlined" width="50" style="width: 30px;">
                    <br />
                    בלחיצה עליהם, יופיע חלון הסבר על התכונה הרלוונטית של האתר.
                </p>
            </div>
        </div>
        <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-10">דרישות דפדפן</a>
            <div id="accordion-10" class="accordion-section-content" style="display: none;">
                <p>
                    הדפדפן נתמך בכל הגרסאות המודרניות של הדפדפנים המובילים<br /><br />
                    <u><h4>כדי לצפות באתר יש להשתמש בדפדפנים הבאים:</u></h4>
                    Internet Explorer - גרסה 9 ומעלה<br />
                    Chrome - כל הגרסאות<br />
                    Firefox - כל הגרסאות<br />
                </p>
            </div>
        </div>
    </div>
    <center>
        <a href="/">
            <div class="menu_button bot_left">
                חזרה לתשבצל'ה
                <br />
                <img src="graphics/images/icons/back.jpg" height="60">

            </div>
        </a>
    </center>
</body>
</html>