<center>
<h8><b> TODO: MAKE IT LOOK GOOD</b></h8>

<h8><b> הוראות שימש- הסבר מקיף </b></h8>
<h3>אודות</h3>
	תשבצל'ה הוא אתר חינמי המיועד לקהילת פותרי התשבצים. הוא מאפשר פעולות כמו פתרון הגדרות תשחצים ע"י מנגנון מתוחכם וכן משחקונים להנאת המשתמש. בנוסף לכך, חברי קהילת תשבצל'ה יכולים להיעזר באתר לפתרון תשבצים,  וגם לתרום מהידע שלהם על מנת לסייע לאחרים.
	<br>
	<h3>פתרון הגדרות</h3>
	על מנת לקבל עזרה בפתרון הגדרה בתשבץ יש להקליד במלבנים הבאים את ההגדרה ואת התבנית שלה:
	<br>
	<center><img src="graphics/help-front_page.bmp" width="300" style="width: 300px;"> </center>
	<br>
	<u>דוגמאות להגדרות ותבניות חוקיות:</u><br>
		<img src="graphics/help-valid_input1.bmp" width="300" style="width: 100px;"> 
		<img src="graphics/help-valid_input3.bmp" width="300" style="width: 100px;"> 
		<img src="graphics/help-valid_input2.bmp" width="300" style="width: 100px;"> 
		<br>
		פתרון הנכון עבור אבי הנצרות בשלוש אותיות הוא ישו<br>
		פתרון נכון עבור אדון בשתי אותיות הוא מר
		<br><br>
	
	<u>התוצאות</u><br>
        אחרי חיפוש הגדרה ותבנית באמצעות תשבצל'ה יופיעו התוצאות:<br>
        <img src="graphics/results-help.bmp" width="486"> <br><br>
        <u>הדירוג</u><br>לכל הגדרה יש דירוג מ-1 עד 5, גם המשתמש יכול לדרג באמצעות לחיצה על הכוכב המתאים<br><br>
        <u>מקור</u><br>המקור של פתרון הוא שם האדם שהזין את הפתרון או תשבצל'ה במקרה שההגדרה היא שלנו<br><br>
        <u>מידע נוסף</u><br>לקבלת מידע נוסף על פתרון ההגדרה יכול המשתמש ללחוץ על הכפתורים בעמודה זו והם יובילו אותו לחיפוש בגוגל או לאתר ויקיפדיה<br><br>
        <u>כפתור "יודע את התשובה ורוצה לעזור"?</u>
			<br>אם המשתמש יודע פתרון נוסף להגדרה שאינו מופיע בתוצאות החיפוש, אז הוא יכול ללחוץ על כפתור זה ולעבור לחלון שמאפשר לו להוסיף את הפתרון הנכון. בכך הוא מעשיר את המאגר שלנו ותורם לקהילת המשתמשים.
			<br>

<h3>הוספת הגדרות</h3>
	ניתן להוסיף הגדרות למאגר שלנו בשתי דרכים. הראשונה, דרך לחיצה על הכפתור הייעודי לכך שנמצא בעמוד הראשי. השנייה, באמצעות הפתור המתאים שמופיע לאחר חיפוש תוצאה במאגר שלנו. הסבר מפורט יותר על כך הופיע קודם תחת "פתרון הגדרות".<br>
בשני המקרים נפתח חלון אותו יש למלא.
	<br>
	<center><img src="graphics/help-definition_adding.bmp" width="300" style="width: 300px;"> </center>
	<br>

<h3> משחקונים	</h3><br>
	
	<u>מטרת המשחק</u>
                לצבור כמה שיותר נקודות באמצעות פתרון כמה שיותר הגדרות תשחצים תוך דקה.<br><br><br>
                
	<u>אופן המשחק</u>
		<br>לאחר טעינת המשחק תופיע הגדרה ראשונה לפתרון על ידי השחקן:
		<center><img src="graphics/minigames-empty_definition.bmp" width="300" style="width: 300px;"> </center>
		כדי לענות על ההגדרה, עליו להקליד את הפתרון הנכון וללחוץ ENTER.<br>
		אם הוא יענה נכונה ההגדרה תסומן בצבע ירוק ואם יטענה, תסומן באדום:<br>
		<img src="graphics/minigames-definition_solved_right.bmp" width="300" style="width: 300px;"> 
		<img src="graphics/minigames-definition_solved_wrong.bmp" width="300" style="width: 300px;"> 

		<br><br>
	<u>ניקוד</u><center>הניקוד הסופי הוא סכום הניקוד שניתן לכל פתרון נכון – פתרונות שגויים לא מקבלים או גורעים ניקוד. <br>זאת כאשר הניקוד הניתן לכל הגדרה מייצג את דרגת הקושי.<br>
		בסוף המשחק יוצג בפני השחקן סיכום של תוצאות המשחק ותוצע לו האפשרות לרשום את עצמו ב"טבלת המנצחים".
		<br><br>
		<img src="graphics/minigames-results.bmp" width="500" style="width: 500px;"> </center>
		<br><br>
	<u>ניווט</u><br>השחקן יכול לנווט בין ההגדרות אותן ניסה לפתור בעבר ולתקנן וכך לזכות בנקודות של אותן ההגדרות.<br>הניווט מתבצע באמצעות לחיצת עכבר או לחלופין שימוש במקשי החצים שמקבלדת: למעלה ולמטה. <br><br><br><br><br>
	
<h3>הגדלת/הקטנת התצוגה</h3><br>
	באמצעות לחיצה על כפתור <br>
	
	<br>
	<center><img src="graphics/help-enlarging.bmp" width="300" style="width: 300px;"> </center>
	<br>
	יכול המשתמש להגדיל את התצוגה. בנוסף לכך, באמצעות לחיצה חוזרת על אותו הכפתור יכול המשתמש להקטין חזרה את התצוגה לגודל המקורי

<h3>הגדרות אחרונות שנוספו:</h3><br>
	בעמוד הראשי, תחת הכותרת "מה חדש?" ישנה רשימה מתעדכנת של ההגדרות והפתרונות האחרונים שנוספו. הרשימה מציגה ליד כל הגדרה ופתרון את המשתמש שהוסיף אותה.

<h3>הערה חשובה</h3><br>
	במקומות רבים באתר מפוזרים סימני שאלה הנראים כך:  <br>
	
	<br>
	<center><img src="graphics/question_mark.jpg" width="50" style="width: 50px;"> </center>
	<br>
	בלחיצה עליהם, יופיע חלון הסבר על התכונה הרלוונטית של האתר.
	
<h3>דרישות דפדפן</h3><br>
	הכנס כאן מה שיוני חושב