<!DOCTYPE html>
<html>
   <head>
      <title>תשבצל'ה</title>
      <link rel="stylesheet" type="text/css" href="graphics/GlobalStyle.css">
      <link rel="stylesheet" type="text/css" href="graphics/HelpStyle.css">
      <script type="text/javascript" src="graphics/jquery-2.1.4.min.js"></script>
      <script type="text/javascript" src="graphics/jQuery-easing.js"></script>
      <script type="text/javascript" src="graphics/accordion.js"></script>
   </head>
   <body>
      <center>
         <img src="graphics/images/help/help_logo.png" width="560px"> 
      </center>
      <br/ >
      <div class="accordion">
         <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-1">פתרון הגדרות</a>
            <div id="accordion-1" class="accordion-section-content" style="display: none;">
               <p>
                  על מנת לקבל עזרה בפתרון הגדרה בתשבץ יש להקליד במלבנים הבאים את ההגדרה ואת התבנית שלה:
                  <br />
                  <img src="graphics/help-front_page.bmp" width="300" style="width: 300px;"> 
                  <br />
                  <u>
               <h4>דוגמאות להגדרות ותבניות חוקיות:</u></h4>
               <center>
                  <img src="graphics/help-valid_input1.bmp" width="200px" class="inlined"> 
                  <img src="graphics/help-valid_input3.bmp" width="200px" class="inlined"> 
                  <img src="graphics/help-valid_input2.bmp" width="200px" class="inlined">
                  <br />
                  פתרון נכון עבור <i>אבי הנצרות</i> בשלוש אותיות הוא <i>ישו</i><br />
                  פתרון נכון עבור <i>אדון</i> בשתי אותיות הוא <i>מר </i>
               </center>
               </p>
            </div>
         </div>
         <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-2">התוצאות</a>
            <div id="accordion-2" class="accordion-section-content" style="display: none;">
               <p>
                  <br />
                  אחרי חיפוש הגדרה ותבנית באמצעות תשבצל'ה יופיעו התוצאות:<br />
                  <img src="graphics/results-help.bmp" width="486"> <br /><br />
                  <u>
               <h4>הדירוג</u></h4>לכל הגדרה יש דירוג מ-1 עד 5, גם המשתמש יכול לדרג באמצעות לחיצה על הכוכב המתאים<br /><br />
               <u>
                  <h4>מקור
               </u>
               </h4>המקור של פתרון הוא שם האדם שהזין את הפתרון או תשבצל'ה במקרה שההגדרה היא שלנו<br /><br />
               <u>
                  <h4>מידע נוסף
               </u>
               </h4>לקבלת מידע נוסף על פתרון ההגדרה יכול המשתמש ללחוץ על הכפתורים בעמודה זו והם יובילו אותו לחיפוש בגוגל או לאתר ויקיפדיה<br /><br />
               <u>
                  <h4>כפתור "יודע את התשובה ורוצה לעזור"?
               </u>
               </h4>
               <br />אם המשתמש יודע פתרון נוסף להגדרה שאינו מופיע בתוצאות החיפוש, אז הוא יכול ללחוץ על כפתור זה ולעבור לחלון שמאפשר לו להוסיף את הפתרון הנכון. בכך הוא מעשיר את המאגר שלנו ותורם לקהילת המשתמשים.
               </p>
            </div>
         </div>
         <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-3">הוספת הגדרות</a>
            <div id="accordion-3" class="accordion-section-content" style="display: none;">
               <p>
                  ניתן להוסיף הגדרות למאגר שלנו בשתי דרכים. הראשונה, דרך לחיצה על הכפתור הייעודי לכך שנמצא בעמוד הראשי. השנייה, באמצעות הפתור המתאים שמופיע לאחר חיפוש תוצאה במאגר שלנו. הסבר מפורט יותר על כך הופיע קודם תחת "פתרון הגדרות".<br />
                  בשני המקרים נפתח חלון אותו יש למלא.
                  <br />
                  <img src="graphics/help-definition_adding.bmp" width="300" style="width: 300px;"> 
               </p>
            </div>
         </div>
         <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-4"> משחקונים	</a>
            <div id="accordion-4" class="accordion-section-content" style="display: none;">
               <p>
                  <u>
               <h4>מטרת המשחק</u></h4>
               לצבור כמה שיותר נקודות באמצעות פתרון כמה שיותר הגדרות תשחצים תוך דקה.<br /><br /><br />
               <u>
                  <h4>אופן המשחק
               </u>
               </h4>
               <br />לאחר טעינת המשחק תופיע הגדרה ראשונה לפתרון על ידי השחקן:
               <img src="graphics/minigames-empty_definition.bmp" width="300" style="width: 300px;"> 
               כדי לענות על ההגדרה, עליו להקליד את הפתרון הנכון וללחוץ ENTER.<br />
               אם הוא יענה נכונה ההגדרה תסומן בצבע ירוק ואם יטענה, תסומן באדום:<br />
               <center>
                  <img src="graphics/minigames-definition_solved_right.bmp" width="300" style="width: 300px;" class="inlined"> 
                  <img src="graphics/minigames-definition_solved_wrong.bmp" width="300" style="width: 300px;" class="inlined"> 
               </center>
               <br />
               <u>
                  <h4>הניקוד
               </u>
               </h4>הניקוד הסופי הוא סכום הניקוד שניתן לכל פתרון נכון – פתרונות שגויים לא מקבלים או גורעים ניקוד. <br />זאת כאשר הניקוד הניתן לכל הגדרה מייצג את דרגת הקושי.<br />
               בסוף המשחק יוצג בפני השחקן סיכום של תוצאות המשחק ותוצע לו האפשרות לרשום את עצמו ב"טבלת המנצחים".
               <br /><br />
               <img src="graphics/minigames-results.bmp" width="500" style="width: 500px;"> 
               <br /><br />
               <u>
                  <h4>ניווט
               </u>
               </h4>השחקן יכול לנווט בין ההגדרות אותן ניסה לפתור בעבר ולתקנן וכך לזכות בנקודות של אותן ההגדרות.<br />הניווט מתבצע באמצעות לחיצת עכבר או לחלופין שימוש במקשי החצים שמקבלדת: למעלה ולמטה.
               </p>
            </div>
         </div>
         <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-5">הגדלת/הקטנת התצוגה</a>
            <div id="accordion-5" class="accordion-section-content" style="display: none;">
               <p><br />
                  באמצעות לחיצה על כפתור 
                  <img src="graphics/help-enlarging.bmp" class="inlined" width="300" style="width: 300px;"> 
                  <br />
                  יכול המשתמש להגדיל את התצוגה. בנוסף לכך, באמצעות לחיצה חוזרת על אותו הכפתור יכול המשתמש להקטין חזרה את התצוגה לגודל המקורי
               </p>
            </div>
         </div>
         <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-6">הגדרות אחרונות שנוספו</a>
            <div id="accordion-6" class="accordion-section-content" style="display: none;">
               <p><br />
                  בעמוד הראשי, תחת הכותרת "מה חדש?" ישנה רשימה מתעדכנת של ההגדרות והפתרונות האחרונים שנוספו. הרשימה מציגה ליד כל הגדרה ופתרון את המשתמש שהוסיף אותה.
               </p>
            </div>
         </div>
         <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-7">הערה חשובה</a>
            <div id="accordion-7" class="accordion-section-content" style="display: none;">
               <p>
                  במקומות רבים באתר מפוזרים סימני שאלה הנראים כך: 
                  <img src="graphics/question_mark.jpg" class="inlined" width="50" style="width: 50px;"> 
                  <br />
                  בלחיצה עליהם, יופיע חלון הסבר על התכונה הרלוונטית של האתר.
               </p>
            </div>
         </div>
         <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-8">דרישות דפדפן</a>
            <div id="accordion-8" class="accordion-section-content" style="display: none;">
               <p>
               	הדפדפן נתמך בכל הגרסאות המודרניות של הדפדפנים המובילים<br /><br />
                  <u><h4>כדי לצפות באתר יש להשתמש בדפדפנים הבאים:</u></h4>
                  Internet Explorer - גרסה 9 ומעלה<br />
                  Chrome - כל הגרסאות<br />
                  Firefox - כל הגרסאות<br />
               </p>
            </div>
         </div>
      </div>
      <center>
         <a href="/">
            <div class="menu_button bot_left">
             חזרה לתשבצל'ה
               <br/>
               <img src="graphics/images/icons/back.jpg" height="60">
  
            </div>
         </a>
      </center>
  </body>
</html>