<!DOCTYPE html>
<html>
<head>
    <title>תשבצל'ה</title>
    <link rel="stylesheet" type="text/css" href="graphics/css/GlobalStyle.css">
    <link rel="stylesheet" type="text/css" href="graphics/css/IndexStyle.css">
    <link rel="stylesheet" type="text/css" href="graphics/css/PopupsStyle.css">
    <link rel="stylesheet" type="text/css" href="graphics/css/BlocksInputStyle.css">
    <script type="text/javascript" src="graphics/javascript/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="graphics/javascript/jQuery-easing.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/document-register-element/0.3.0/document-register-element.js"></script>
    <script type="text/javascript" src="graphics/javascript/BlocksInput.js"></script>
    <script type="text/javascript" src="graphics/javascript/General.js"></script>
</head>
<body>
    <div id="rightColumn">
        <ul id="slidingNavigation">
            <li><h3>אפשרויות</h3></li>
            <li>
                <a href="/">
                    חפש הגדרה
                </a>
            </li>
            <li>
                <a href="#add_defi_popup" class="popup">
                    הוסף הגדרה
                </a>
            </li>
            <li>
                <a href="/forums.html">
                    פורום
                </a>
            </li>
            <li>
                <a href="/MiniGame.html">
                    משחק
                </a>
            </li>
            <li>
                <a href="/help.html">
                    עזרה
                </a>
            </li>
            <li>
                <a href="#contact_us_popup" class="popup">
                    צור קשר
                </a>
            </li>
            <li>
                <a href="#about_popup" class="popup">
                    אודות
                </a>
            </li>
        </ul>
    </div>
    <div id="recentActivitiesFather">
        <div id="recentActivities">
            <h3>מה חדש?</h3>
            <div>
                {% for description,onclick_func in activities_list %}
                <hr>
                <div class="news" onclick="{{ onclick_func.decode('utf') }}">
                    {{ description.decode('utf')|safe }} <br />
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <center>
        <div id="main_search">
            <form method="GET" action="results.html">
                <br />
                <br />
                <img src="graphics/logo.png" alt="logo" id="logo">
                <br />
                <br />
                <label for="definition">
                    הכנס הגדרה:
                </label>
                <p>
                    <a href="#definitionHelp" class="popup">
                        <img src="graphics/question_mark.png" style="
                        margin: 0px -30px -8px 0;
                        width: 30px;
                        height: 30px;
                    ">
                    </a>
                    <input type="text" id="definition" name="definition" class="index_boxes" placeholder="למשל: עוף דורס" tabindex="1" style="width:220px" />
                </p>
                <br />
                <br />
                <label for="pattern">
                    הכנס תבנית:
                </label>
                <p>
                    <a href="#patternHelp" class="popup">
                        <img src="graphics/question_mark.png" style="
                        margin: 0px -30px 5px 0;
                        width: 30px;
                        height: 30px;
                    " />
                    </a>
                    <blocks-input id="pattern" name="pattern" tabindex="2"></blocks-input>
                </p>
                <br />
                <div id="searchFormError" class="error">
                    <br />
                </div>
                <br />
                <input id="submit_button" type="submit" value="חפש!" class="index_boxes" tabindex="3" />
            </form>
            <br />
            <ul id="results"></ul>
        </div>
    </center>

    <!-- Popup Content Area - holding all of the popups-->

    <div id="add_defi_popup" class="popupContent">
        <!-- Add Definition Popup -->
        <form method="get" action="result_action" id="add_defi">
            <h3>הוסף הגדרה</h3><br />
            הגדרה: <br /><input type="text" id="add_defi_definition" name="definition" class="nice" value="" /><br /><br />
            פתרון: <br /><input type="text" id="answer" name="answer" class="nice" value="" /><br /><br />
            שמך (לא חובה): <br /><input type="text" id="source_name" name="source" class="nice" value="" /><br /><br />
            <input type="hidden" name="action" value="add" />
            <div id="addDefiFormError" class="error">
                <br />
            </div>
            <br />
            <input type="submit" class="nice" value="הוסף!" />
        </form>
    </div>
    <div id="contact_us_popup" class="popupContent">
        <!-- Contact Us Popup -->
        <form method="post" action="contact_us" id="contact_form">
            <h3>צור קשר</h3><br />
            שם (לא חובה):<br />
            <input type="text" id="sender_name" name="sender_name" class="nice" value="" /><br /><br />
            כתובת מייל (לא חובה):<br />
            <input type="text" id="sender_address" name="sender_address" class="nice" value="" placeholder="כדי שנוכל לחזור אליך" /><br /><br />
            הודעתך:
            <br /><textarea rows="16" cols="50" maxlength="800" id="mail_body" name="mail_body" class="nice"></textarea><br /><br />
            <div id="contact_error" class="error">
                <br />
            </div>
            <br />
            <input type="submit" class="nice" value="שלח!" />
        </form>
    </div>
    <div id="about_popup" class="popupContent">
        <!-- About us Popup -->
        תשבצל'ה הוא אתר חינמי המיועד לקהילת פותרי התשבצים.<br />
        האתר מאפשר פעולות כמו פתרון הגדרות ע"י מנגנון מתוחכם.<br />
        חברי קהילת תשבצל'ה יכולים להיעזר באתר לפתרון תשבצים, <br />
        וגם לתרום מהידע שלהם על מנת לסייע לאחרים.<br />
        תהנו!
    </div>
    <div id="definitionHelp" class="popupContent">
        <h3>הגדרה</h3><br />
        ההגדרה אותה אנו רוצים לחפש. <br />
        למשל עבור: <br />
        <img src="graphics/pattern-help.bmp" width="200"> <br />
        ההגדרה המתאימה: עוף דורס <br />
    </div>
    <div id="patternHelp" class="popupContent">
        <h3>תבנית</h3><br />
        הקלד סימן שאלה עבור האות החסרה בתשבץ. <br />
        למשל עבור: <br />
        <img src="graphics/pattern-help.bmp" width="200"> <br />
        התבנית המתאימה: ת?ש??
    </div>
    <div id="resultsHelp" class="popupContent">
        <h3>התוצאות</h3><br />
        אחרי חיפוש הגדרה ותבנית באמצעות תשבצל'ה יופיעו התוצאות:<br />
        <img src="graphics/results-help.bmp" width="486"> <br /><br />
        <strong>הדירוג</strong><br />לכל הגדרה יש דירוג מ-1 עד 5, גם אתה יכול לדרג באמצעות לחיצה על הכוכב המתאים<br /><br />
        <strong>מקור</strong><br />המקור של פתרון הוא שם האדם שהזין את הפתרון או תשבצל'ה במקרה שההגדרה היא שלנו<br /><br />
        <strong>מידע נוסף</strong><br />לקבלת מידע נוסף תוכל ללחוץ על הכפתורים בעמודה זו<br />והם יובילו אותך לחיפוש בגוגל או לאתר ויקיפדיה<br /><br />
        <strong>יודע את התשובה ורוצה לעזור?</strong><br />אם חיפשת הגדרה ולא מצאנו עבורה פתרון שאתה<br /> יודע שהוא נכון, תוכל להוסיף אותו באמצעות כפתור זה
    </div>
    <div id="currentPopup"></div>
    <br />
    <div id="magnif">
        <a>לחץ עלי להגדלה!</a>
        <img id="magnif_img" src="graphics/mag_glass.png" width="48" />
    </div>
</body>
</html>
