<!DOCTYPE html>
<html>
<head>
    <title>תשבצל'ה</title>
    <link rel="stylesheet" type="text/css" href="graphics/MiniGameStyles.css">
    <script type="text/javascript" src="graphics/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="graphics/jQuery-easing.js"></script>
    <script type="text/javascript" src="graphics/jquery.lavalamp.min.js"></script>
    <script type="text/javascript" src="graphics/MiniGameGeneral.js"></script>
</head>
<body>
    <center>
        <div id="main">
            <img src="graphics/logo.jpg" alt="תשבצל'ה" id="logo">
            <br />
            <div id="main_menu">
                <br />
                <div class="menu_button">
                    התחל משחק!
                    <br />
                    <img src="graphics/play.jpg" height="50">
                </div>
                <div class="menu_button">
                    כיצד משחקים?
                    <br />
                    <img src="graphics/howto.jpg" height="60">
                </div>
                <div class="menu_button">
                    טבלת המנצחים
                    <br />
                    <img src="graphics/trophy.jpg" height="50">
                </div>
                <a href="/">
                    <div class="menu_button">
                        בחזרה לתשבצל'ה!
                        <br />
                        <img src="graphics/back.jpg" height="60">
                    </div>
                </a>
            </div>
            <div id="help">
                TODO: לתאר כיצד משחקים במשחק.
            </div>
            <div id="scorringBoard">
            </div>
            <div id="Game">
                TODO: להכניס כאן טבלה מצד השרת של 15 השחקנים הטובים.
            </div>
            <div class="menu_button" id="backButton">
                בחזרה לתפריט
                <br />
                <img src="graphics/return.jpg" height="60">
            </div>
            <!--<div id="GameButtons">
                <div class="menu_button">
                    בחזרה לתפריט הראשי
                    <br />
                    <br />
                    <img src="graphics/back.jpg">
                </div>-->
        </div>
    </center>
    <!--<div id="one" class="popupContent">
        </div>
        <div id="currentPopup"></div> -->
</body>
</html>
