<!DOCTYPE html>
<html>
<head>
    <title>תשבצל'ה</title>
    <link rel="stylesheet" type="text/css" href="graphics/GlobalStyle.css">
    <link rel="stylesheet" type="text/css" href="graphics/MiniGameStyles.css">
    <link rel="stylesheet" type="text/css" href="graphics/BlocksInputStyle.css">
    <script type="text/javascript" src="graphics/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="graphics/jQuery-easing.js"></script>
    <script type="text/javascript" src="graphics/jquery.lavalamp.min.js"></script>
    <script type="text/javascript" src="graphics/BlocksInput.js"></script>
    <script type="text/javascript" src="graphics/MiniGameGeneral.js"></script>
</head>
<body>
    <center>
        <div id="main">
            <img src="graphics/logo.jpg" alt="תשבצל'ה" id="logo">
            <br />
            <br />
            <div id="main_menu">
                <br />
                <div class="menu_button">
                    התחל משחק!
                    <br />
                    <img src="graphics/play.jpg" height="50">
                </div>
                <div class="menu_button">
                    כיצד משחקים?
                    <br />
                    <img src="graphics/howto.jpg" height="60">
                </div>
                <div class="menu_button">
                    טבלת המנצחים
                    <br />
                    <img src="graphics/trophy.jpg" height="50">
                </div>
                <a href="/">
                    <div class="menu_button">
                        בחזרה לתשבצל'ה!
                        <br />
                        <img src="graphics/back.jpg" height="60">
                    </div>
                </a>
            </div>
            <div id="help" class="niceTable">
                <h3>מטרת המשחק</h3>
                לצבור כמה שיותר נקודות באמצעות פתרון כמה שיותר הגדרות תשחצים תוך דקה.<br><br><br>
                
                <strong>אופן המשחק</strong><br>לאחר טעינת המשחק תופיע הגדרה ראשונה לפתרון על ידי השחקן:
                <center><img src="graphics/minigames-empty_definition.bmp" width="300" style="width: 300px;"> </center>
                כדי לענות על ההגדרה, עליו להקליד את הפתרון הנכון וללחוץ ENTER.<br>
                אם הוא יענה נכונה ההגדרה תסומן בצבע ירוק ואם יטענה, תסומן באדום:<br>
                <img src="graphics/minigames-definition_solved_right.bmp" width="300" style="width: 300px;"> 
                <img src="graphics/minigames-definition_solved_wrong.bmp" width="300" style="width: 300px;"> 

                <br><br>
                <strong>ניקוד</strong><center>הניקוד הסופי הוא סכום הניקוד שניתן לכל פתרון נכון – פתרונות שגויים לא מקבלים או גורעים ניקוד. <br>זאת כאשר הניקוד הניתן לכל הגדרה מייצג את דרגת הקושי.<br>
                בסוף המשחק יוצג בפני השחקן סיכום של תוצאות המשחק ותוצע לו האפשרות לרשום את עצמו ב"טבלת המנצחים".
                <br><br>
                <img src="graphics/minigames-results.bmp" width="500" style="width: 500px;"> </center>
                <br><br>
                <strong>מידע נוסף</strong><br>השחקן יכול לנווט בין ההגדרות אותן ניסה לפתור בעבר ולתקנן וכך לזכות בנקודות של אותן ההגדרות.<br>הניווט מתבצע באמצעות לחיצת עכבר או לחלופין שימוש במקשי החצים שמקבלדת: למעלה ולמטה. <br><br><br><br><br>
                
            </div>
            <div id="scoringBoard">
            </div>
            <div id="Game">
                TODO: להכניס כאן טבלה מצד השרת של 15 השחקנים הטובים.
            </div>
            <div class="menu_button" id="backButton">
                בחזרה לתפריט
                <br />
                <img src="graphics/return.jpg" height="60">
            </div>
            <!--<div id="GameButtons">
                <div class="menu_button">
                    בחזרה לתפריט הראשי
                    <br />
                    <br />
                    <img src="graphics/back.jpg">
                </div>-->
        </div>
    </center>
    <!--<div id="one" class="popupContent">
        </div>
        <div id="currentPopup"></div> -->
</body>
</html>
