
<br /><br />
{% if scoring %}
<table class="niceTable">
    <tr>
        <th></th>
        <th>מיקום</th>
        <th>שם</th>
        <th>ציון</th>
    </tr>
    {% for index, name, score in scoring %}
    <tr>
        <td>
            {% if 3 >= index %}
            <img src="graphics/images/game/medal_{{ index }}.png" class="medal">
            {% endif %}
        </td>
        <td>{{ index }}</td>
        <td>{{ name }}</td>
        <td>{{ score }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
טבלת המנצחים ריקה, היה הראשון להיכנס אליה!
{% endif %}
