<html>
	<head>
		<title>Awesome Crossome</title>
		<link rel="stylesheet" type="text/css" href="graphics/styles.css">
		<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript">
			$(document).ready(function () {
				$("#main_search").children().not("br").each(function (index,elem) {
					$(elem).hide().delay(index * 300).fadeIn(1000);
				});
			});
		</script>	
	</head>
	<body>
		
			<div id="main_search">
				<form method="GET" action="results.html" target="results">
				<img src="graphics/logo.jpg" alt="logo" id="logo">
				<br>
				<br>
				<label>הכנס הגדרה:
				<br>
				<input type="text" id="definition" name="definition" class = "slide"/>
				</label>
				<br>
				<br>
				<label>הכנס תבנית:
				<br>
				<input type="text" id="guess" name="guess" class = "slide"/>
				</label>
				<br>
				<br>
				<input id="submit_button" type="submit" value="Search!"  class = "slide"/>
				</form>
				<br>
				<iframe style="border-width:0px;" src name="results"></iframe>
			</div>
		
		
	</body>
</html>
